<div class="container"></div>
<table class="table table-responsive table-sm table-striped">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Book Author</th>
            <th >Book Number of Pages</th>
            <th >Book Publisher</th>
            <th >Update Book</th>
            <th >Delete Book</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books; let id=index">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td >{{book.numberOfPages}}</td>
            <td >{{book.publisher}}</td>
            <td >
                <button 
                    class="btn shadow-none" 
                    (click)="updateBook(book.id)"
                    [disabled]="areDeleteAndUpdateIconsDisabled">
                    <i-bs name="pen"></i-bs>
                </button>
            </td>
            <td >
                <button 
                        class="btn shadow-none" 
                        (click)="deleteBook(book.id)"
                        [disabled]="areDeleteAndUpdateIconsDisabled">
                    <i-bs name="trash"></i-bs>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<p class="text-danger" style="text-align:center" [hidden]="!isLibraryEmpty"><b>The Library is empty. Please add books using the Add Book button.</b></p>


